﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/topMenu" class="navbar-brand" >Kevin Cornelison:</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li title="View work related experience."><a ui-sref="app.Experience" class="navbar-brand" >Experience</a></li>
                <li title="View featured skillset."><a ui-sref="app.FeaturedSkills" class="navbar-brand" >Featured Skills</a></li>
                <li title="View hobbies."><a ui-sref="app.Hobbies" class="navbar-brand" >Hobbies</a></li>
                <li title="View a little bit about Kevin and how to contact him."><a ui-sref="app.About" class="navbar-brand" >About</a></li>
                <li title="Switch to MVC version of this website."><a ui-sref="app.AngularJS" class="navbar-brand" >AngularJS/MVC</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
   
        <ui-view></ui-view>
    <hr />
    <footer>
        <div class="row">
            <div class="col-md-6">
                &copy; 2017 - KevinAppDev.com (1.0.2)
            </div>
            <div class="col-md-6">
                <a title="Find me on LinkedIn." target="_blank" href="https://www.linkedin.com/in/kevinappdev/" class=""><img alt="Find me on LinkedIn." height="30" src="content/Images/linkedin_link.png" /></a>
                <a title="Find me on Facebook." target="_blank" href="https://www.facebook.com/kevin.cornelison.5" class=""><img alt="Find me on Facebook." height="25" src="content/Images/facebook_icon.png" /></a>
                <img alt="Share this page on Facebook." title="Share this page on Facebook." height="25" src="content/Images/facebook_share.png" onclick="window.open('//facebook.com/sharer/sharer.php?u=' + window.location.href);" />
                <a title="Find me on You Tube." target="_blank" href="https://www.youtube.com/user/Slide323"><img alt="Find me on You Tube." height="25" src="content/Images/YouTube.png" /></a>
                <a title="Send me an Email." href="mailto:KevinAppDev@gmail.com"><img alt="Send me an Email." width="30" src="content/Images/gmail-icon-50003.png" /></a>
            </div>

        </div>
    </footer>
</div>
<script>
    $(document).on('click', '.navbar-collapse.in', function (e) {
        if ($(e.target).is('a')) {
            $(this).collapse('hide');
        }
    });
</script>