﻿<div class="container row">
    <div class="" id="profile">
        <div class="well well-sm alert">
            <h1>Application Developer</h1>
            <p class="lead">
                Experienced, <a ui-sref="app.FullStack" ui-sref-active="active">Full Stack</a>
                .NET backend to front application developer.
            </p>
            <p>
                I am currently open to discuss employment opportunities.
                If you are a recruiter or hiring manager, <a ui-sref="app.About" ui-sref-active="active">Lets Talk</a>
            </p>
        </div>
        <H2>A little history.</H2>
        <p>
            I was born in 1967.  I always had an inherent understanding of all things mechanical and electrical.
            Thru my teenage years, I took a lot of things apart, but rarely put them back to gether.
        </p>
        <p>
            At around 14, I got the Atari 2600.  I was frustrated with the stick controllers.
            After a while, they would stick or just quit working.  I got ahold of an old adding machine.  Pulled
            the keyboard out.  Attached the broken joystick wire to the buttons and I played Asteroids on my Atari
            2600 just like at the arcade.
        </p>
        <p>
            At 15, I got my first Commodore 64.  In the back was a programmer's guide. <abbr title="BASIC">Beginners All-Purpose Symbolic Instruction Code.</abbr>
            I have been a programmer ever since.
        </p>
        <h2>What about now.</h2>
        <p>
            I am a  <a ui-sref="app.FullStack" ui-sref-active="active">'Full Stack'</a> developer.
        </p>
        <p>
            I am comfortable working in many technologies.
        </p>
        <p>
            My job experience has dictated what technologies I am proficient in and
            which technologies I have a basic knowledge of and which technologies I
            am aware of but have not written code in.
        </p>
        <p>
            Please click <span><a ui-sref="app.FeaturedSkills" ui-sref-active="active">Featured Skills</a></span> to view a detailed list of my
            current skillset and relative experience with each.
        </p>
    </div>
</div>
