﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

You can contact me on Linked IN or Facebook. or email below

<address>
    Fort Worth, TX 76120<br />
    <abbr title="Phone">P:</abbr>
    817.937.ASKME
</address>

<address>
    <strong>Request INFO:</strong>   <a href="mailto:KevinAppDev@gmail.com">KevinAppDev@gmail.com</a><br />
</address>