﻿<div class="container row">
    @*Profile*@
    <div class="" id="profile">
        @Html.Partial("_KevinAboutPartial")
        <H2>A little history.</H2>
        <p>
            I was born in 1967.  I always had an inherent understanding of all things mechanical and electrical.
            Thru my teenage years, I took a lot of things apart, but rarely put them back to gether.
        </p>
        <p>
            At around 14, I got the Atari 2600.  I was frustrated with the stick controllers.
            After a while, they would stick or just quit working.  I got ahold of an old adding machine.  Pulled
            the keyboard out.  Attached the broken joystick wire to the buttons and I played Asteroids on my Atari
            2600 just like at the arcade.
        </p>
        <p >
            At 15, I got my first Commodore 64.  In the back was a programmer's guide. <abbr title="BASIC">Beginners All-Purpose Symbolic Instruction Code.</abbr> 
            I have been a programmer ever since.
        </p>
        <h2>What about now.</h2>
        <p>
            I am a  @Html.ActionLink("Full Stack Developer", "FullStackDeveloper", "Experience",null, new { @title = "What is a Full Stack Developer?" })</>.
        </p>
        <p>
            I am comfortable working in many technologies.
        </p>
        <p>
            My job experience has dictated what technologies I am proficient in and
            which technologies I have a basic knowledge of and which technologies I
            am aware of but have not written code in.
        </p>
        <p>
            Please click <span>@Html.ActionLink("Featured Skills", "FeaturedSkills", "Experience",null, new { @title = "Featured skillset and relevent experience." })</span> to view a detailed list of my
            current skillset and relative experience with each.
        </p>
    </div>
</div>
