﻿<p>
    @*@ViewBag.icl*@
</p>
<div id="main_area">
    <div class="row">
        <div class="col-xs-12" id="slider">
            <div class="row">
                <div class="col-sm-8" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <div class="carousel-inner">
                            @foreach (KevinAppDev.MVC.Models.imageCarouselItem image in Model.images)
                            {
                                if (image.id == 0)
                                {
                                    <div class="item active in" data-slide-number="@image.id.ToString()">
                                        <img src="@Url.Content(image.urlPathFull.Replace("t_",""))" alt="@image.fileName: @image.id.ToString()" onclick="window.open('@Url.Content(image.urlPathFull)','_blank')">
                                    </div>
                                }
                                else
                                {
                                    <div class="item" data-slide-number="@image.id.ToString()">
                                        <img src="@Url.Content(image.urlPathFull.Replace("t_",""))" alt="@image.fileName: @image.id.ToString()" onclick="window.open('@Url.Content(image.urlPathFull)','_blank')">
                                    </div>
                                }

                            }

                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4" id="carousel-text"></div>
                <div id="slide-content" style="display: none;">
                    @foreach (KevinAppDev.MVC.Models.imageCarouselItem image in Model.images)
                    {
                        <div id="slide-content-@image.id.ToString()">
                            <h2>Image @image.id.ToString() of @Model.images.Count.ToString()</h2>
                            <p>@image.fileName</p>
                            <p>@image.imageDescription</p>
                            <p>@image.fileDate.ToString()</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-xs" id="slider-thumbs">
        <ul>
            @foreach (KevinAppDev.MVC.Models.imageCarouselItem image in Model.images)
            {
                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-@image.id.ToString()"><img src="@Url.Content(image.urlPathThumb)"></a>
                </li>
            }
        </ul>

    </div>
    <p>
        All Pictures are Copyright Kevin Cornelison.
    </p>
</div>

