﻿<div class="well well-sm alert">
    <h1>Application Developer</h1>
    <p class="lead">
        Experienced, @Html.ActionLink("Full Stack", "FullStackDeveloper", "Experience",null, new { @title = "What is a Full Stack Developer?" })
        .NET Application Developer.
    </p>
    <p>
        I am looking for a full time VB.NET or MVC C# position.
        I have been developing software in VB since 1996.
        <br />I am currently looking for a junior to mid-level C# position or an advanced VB.NET position.
        <br/>If you are a recruiter or hiring manager, @Html.ActionLink("Let's Talk.", "About", "Home",null, new { @title = "More about Kevin and how to contact him." })
    </p>
</div>
