﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kevin App Dev</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kevin Cornelison:", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="myNavBar">
                <ul class="nav navbar-nav">

                    <li title="View work related experience.">@Html.ActionLink("Experience", "Experience", "Experience")</li>
                    <li title="View featured skillset.">@Html.ActionLink("Featured Skills", "FeaturedSkills", "Experience")</li>
                    <li title="View hobbies.">@Html.ActionLink("Hobbies", "Hobbies", "Hobbies")</li>
                    <li title="View a little bit about Kevin and how to contact him.">@Html.ActionLink("About", "About", "Home")</li>
                    <li title="Switch to Angular JS version of this website.">@Html.ActionLink("AngularJS/MVC", "MVC", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year - KevinAppDev.com (@System.Configuration.ConfigurationManager.AppSettings["webpages:Version"])(@(ViewBag.PageHitCount ?? 0))
                </div>
                <div class="col-md-6">
                    <a title="Find me on LinkedIn." target="_blank" href="https://www.linkedin.com/in/kevinappdev/" class=""><img alt="Find me on LinkedIn." height="50" src="~/Content/Images/linkedin_link.png" /></a>
                    <a title="Find me on Facebook." target="_blank" href="https://www.facebook.com/kevin.cornelison.5" class=""><img alt="Find me on Facebook." height="45" src="~/Content/Images/facebook_icon.png" /></a>
                    <img alt="Share this page on Facebook." title="Share this page on Facebook." height="45" src="~/Content/Images/facebook_share.png" onclick="window.open('//facebook.com/sharer/sharer.php?u=' + window.location.href);" />
                    <a title="Find me on You Tube." target="_blank" href="https://www.youtube.com/user/Slide323"><img alt="Find me on You Tube." height="45" src="~/Content/Images/YouTube.png" /></a>
                    <a title="Send me an Email." href="mailto:KevinAppDev@gmail.com"><img alt="Send me an Email." width="50" src="~/Content/Images/gmail-icon-50003.png" /></a>
                </div>
                <div class="col-md-12">
                    @ViewBag.Misc
                </div>
            </div>
            <div class="row">

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/Scripts/WoodWorking.js")
    @RenderSection("scripts", required: false)
</body>
</html>
