﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div>
        <h1>Electronics</h1>
        <p>
            Ever since I was a teen, I have owned a Soldering Iron.  Nuff Said.
            <br/>
            Below are some of the electronic circuits that I have built.
        </p>
        <div>
            @Html.Partial("_CarouselPartial")
        </div>
     
    </div>

</body>

</html>
