﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hobbies</title>
</head>
<body>
    <div> 
        @Html.Partial("_KevinAboutPartial")
        <div class="col-md-12">
            <h2>Hobbies</h2>
        </div>
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("WoodWorking", "WoodWorking", "Hobbies")</li>
                <li class="list-group-item">@Html.ActionLink("Photography", "Photography", "Hobbies")</li>
                <li class="list-group-item">@Html.ActionLink("Electronics", "Electronics", "Hobbies")</li>
                <li class="list-group-item"><a title="Family Tree Cross Words" href="/TestFolder/CrossingOfTheWords.html">Family Tree Cross Words</a></li>
                <li class="list-group-item">
                    <a title="Kevin Say's'" href="http://kevinsays.kevinappdev.com" target="_blank">Kevin Say's</a>
                    <a title="Get it on the app store!" href="https://play.google.com/store/apps/details?id=com.kevinappdev.kevinsays" target="_blank">Get it on the app store!</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
