﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h1>Photography</h1>
        <p>
            These are some of my favorite pictures I have taken over the years..
        </p>
        <div>
            @Html.Partial("_CarouselPartial")
        </div>

    </div>

</body>

</html>
