﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h1>Wood Working</h1>
        <p>
            Here are some of my woodworking projects. 
            <br/>
            Most recently I learned how to create Dove Tail Joints.
        </p>
        <div>
            @Html.Partial("_CarouselPartial")
        </div>
    
    </div>

</body>

</html>
