﻿<h2>What does a full-stack developer mean?</h2>
<blockquote>
    <p>The term full-stack means developers who are comfortable working with both back-end and front-end technologies.</p>
    <p>To be more specific, it means that the developer can work with databases, PHP, HTML, CSS, JavaScript and everything in between, also, venturing as far as converting Photoshop designs to front-end code.</p>
    <p>Full-stack developer doesn’t need to master all of the areas and technologies he needs to work it, because that just makes it nearly impossible, he just needs to be comfortable working with those technologies, and that’s a lot too.</p>
    <small>By George Fekete, <cite title="Source Title"><a href="https://www.sitepoint.com/full-stack-developer/" target="_blank">'Being a Full Stack Developer'</a></cite></small>
</blockquote>

<h2>My defensive tendencies are normally put on high alert when I hear that magic phrase. 'Full Stack Developer'</h2>
<blockquote>
    <p>Stacks are a lot bigger than what they used to be, and being able to claim one has acquired refined skills at every layer of web development is certainly not a small claim. Does this mean you have a broad range of skills or you specialize in everything?</p>
    <p>For a time (allegedly) Facebook only hired full-stack engineers. This was of course when they were building the first few versions of Facebook, which, lets face it had a relatively simple php backend and wasn't anything special design-wise.</p>
    <a href="http://andyshora.com/img/stacks-change.jpg" target="_blank"> <img width="500" src="http://andyshora.com/img/stacks-change.jpg" /></a>
    <p>Stacks are a lot bigger than they used to be...</p>
    <small>By Andy Shora, <cite title="Source Title"><a href="http://andyshora.com/full-stack-developers.html" target="_blank">'Myth of the Full-stack Developer'</a></cite></small>
</blockquote>