﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div> 
        @*GSCS*@
        <div class="" id="dropdownGSCS">
            <h1>GSCS - Global Supply Chain Solutions</h1>
            <a href="http://systainet.gscsinc.com/" target="_blank">GSCSInc.com</a>
            <address>
                11494 Luna Road, Suite 100
                Dallas, TX 75234-9429
                Phone: (972) 401-GSCS [4727]
                Fax: (972) 444-0699
            </address>
            <div class="row">
                <div class="col-md-6">
                    <blockquote>
                        <p>Web Application Developer.</p>
                        <small>Role Title</small>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="blockquote-reverse">
                        <p>Feb 2009 – Sep 2009 Dallas, Texas</p>
                        <small>8 Months</small>
                    </blockquote>
                </div>
            </div>
            <h3>Major Accomplishments:</h3>
            <h4 class="list-group-item-heading">This was a contract position with the following requirements:</h4>
            <blockquote>
                <ul>
                    <li>Create a web application with ASP.NET to import 1400 excel files in 100 formats into a common SQL database.</li>
                    <li>Automatically normalize all data from Excel files into Sql.</li>
                    <li>Allow the user to export the new data into Excel to be uploaded into their current SAP system.</li>
                </ul>
                <p>Tools / Technologies used:</p>
                <ul>
                    <li>Visual Studio</li>
                    <li>.Net v3.5</li>
                    <li>VB.Net</li>
                    <li>ASP.Net</li>
                    <li>Microsoft SQL Management Studio</li>
                    <li>Source Safe</li>
                </ul>
            </blockquote>
        </div>
    </div>
</body>
</html>
