﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @*Tarrant Business Systems*@
    <div class="" id="dropdownTBS">
        <h1>Tarrant Business Systems</h1>
        <address>Fort Worth, TX</address>
        <div class="row">
            <div class="col-md-6">
                <blockquote>
                    <p>Copier and Electronic technician.</p>
                    <small>Role Title</small>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote class="blockquote-reverse">
                    <p>Jan. 1990 to Jan. 1996 Fort Worth, Texas</p>
                    <small>6 Years</small>
                </blockquote>
            </div>
        </div>
        <h3>Major Accomplishments:</h3>
        <blockquote>
            <ul>
                <li>Repair and maintain all copier makes and models.</li>
                <li>Heavy electronic and mechanical process knowledge.</li>
                <li>Extensive customer support, face to face.</li>
            </ul>
        </blockquote>
    </div>
</body>
</html>
