﻿<div>
    <div class="panel panel-primary">
        <div class="panel-heading lead">
            Select a Featured Skill for more details. <span class="badge"># of years experience.</span>
            <input type="button" id="btnFeaturedSkillsShowAll" data-toggle="collapse" data-target="#" class="btn-default pull-right img-rounded" value="Show All Skills" />
        </div>
        <div class="panel-body">
            <div class="row">
                <!--Languages-->
                <div class="col-md-12">
                    <h2>Languages</h2>
                    <ul class="list-group">
                        <li class="list-group-item">

                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillVBNET2">VB.NET <span class="badge">7</span></span>
                            <div id="skillVBNET2" class="panel-body collapse skillDescription">
                                <p>
                                    95% of my experience is with VB.NET.  I am very proficient in utilizing the ease of VB.NET while avoiding
                                    its inherent short comings.
                                </p>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillCSharp2">C# <span class="badge">2</span></span>
                            <div id="skillCSharp2" class="panel-body collapse skillDescription">
                                <p>
                                    I have built two projects using C# professionally.
                                    An Identity Server and an Entity Framework project.
                                </p>
                                <p>This site was created using MVC / C#.</p>
                                <p>
                                    While I am new to C#, I have been working in VB professionally since 1996.  I have been
                                    studying for my C# certification.  In the meantime, I have taken 2 proficiency exams thru
                                    IKM (International Knowledge Measurement). Below are the results.
                                </p>
                                <dl class="dl-horizontal">
                                    <dt>
                                        <a href="#" data-toggle="modal" data-target="#IKMCSharp5">
                                            <img title="C# 5.0 proficiency test results." src="content/Images/CSharp5.0.2017.03.14_t.png" />
                                        </a>
                                    </dt>
                                    <dd>
                                        <p>On March 14th, I took the C# 5.0 Programming Proficiency test. </p>
                                        <blockquote>
                                            "Kevin has demonstrated a proficient or strong level of knowledge in 95% of the subject matter."
                                            <ul>
                                                <li><strong>Score:</strong> 74%</li>
                                                <li><strong>Work Speed / Accuracy:</strong> Above Average</li>
                                                <li><strong>Application Ability:</strong> Moderate</li>
                                            </ul>
                                        </blockquote>

                                    </dd>
                                    <dt>
                                        <a href="#" data-toggle="modal" data-target="#IKMCSharp4">
                                            <img title="C# 4.0 proficiency test results." src="content/Images/CSharp4.0.2017.03.13_t.png" />
                                        </a>
                                    </dt>
                                    <dd>
                                        <p>
                                            On March 13th, I took the C# 4.0 Programming Proficiency test.
                                        </p>
                                        <blockquote>
                                            "Kevin has scored higher than 54% of all test takers in this subject."
                                            <ul>
                                                <li><strong>Score:</strong> 71%</li>
                                                <li><strong>Percentile:</strong> 54%</li>
                                            </ul>
                                        </blockquote>
                                    </dd>
                                </dl>



                                <div class="modal fade" id="IKMCSharp4" tabindex="-1" role="dialog" aria-labelledby="IKMCSharp4">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="IKMCSharp4ModalLabel">IKM C# 4.0 Proficiency Test taken on March 13, 2017.</h4>
                                            </div>
                                            <div class="modal-body">
                                                <img width="800" src="content/Images/CSharp4.0.2017.03.13.png" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="IKMCSharp5" tabindex="-1" role="dialog" aria-labelledby="IKMCSharp5">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                <h4 class="modal-title" id="IKMCSharp5ModalLabel">IKM C# 5.0 Proficiency Test taken on March 14, 2017.</h4>

                                            </div>
                                            <div class="modal-body">
                                                <img width="800" src="content/Images/CSharp5.0.2017.03.14.png" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillVB60">VB 6.0 <span class="badge">7</span></span>
                            <div id="skillVB60" class="panel-body collapse skillDescription">
                                <p>
                                    During my time at @Html.ActionLink("Heritage Auction Galleries", "HeritageAuctionGalleries", "Experience"), I was involved in converting code to newer
                                    technologies along the way. IE. VB 4.0 to VB 6.0 (32 bit), VB 6.0 to VB.Net
                                </p>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillSQL2">SQL (Structured Query Language) <span class="badge">4</span></span>
                            <div id="skillSQL2" class="panel-body collapse skillDescription">
                                <p>
                                    I have been creating SQL Queries for many years. I am well versed in:
                                </p>
                                <ul>
                                    <li>Creating Tables</li>
                                    <li>Creating Views</li>
                                    <li>Creating Stored Procedures</li>
                                    <li>Creating Triggers</li>
                                    <li>Optimizing Queries (Finding pig queries)</li>
                                    <li>Sql Order of Operation (Key to building lean queries)</li>
                                    <li>Sql Join Structure (Key to getting just the needed records) </li>
                                </ul>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#mySQLJoinModal">
                                        <img src="content/Images/Visual_SQL_JOINS_orig_small.jpg" alt="Types of SQL Joins" />
                                    </a>
                                </div>

                                <div class="modal fade" id="mySQLJoinModal" tabindex="-1" role="dialog" aria-labelledby="mySQLJoinModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">NoSQL Database Types</h4>
                                            </div>
                                            <div class="modal-body">
                                                <img width="800" src="content/Images/Visual_SQL_JOINS_orig.jpg" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillmySQL2">mySQL <span class="badge">1</span></span>
                            <div id="skillmySQL2" class="panel-body collapse skillDescription">
                                <p>
                                    I recently created an Amazon Web Service account and created a mySQL instance and converted some Microsoft SQL queries
                                    used to create tables into a format that mySQL will use.
                                </p>
                                <p>
                                    I understand this process and can implement it if needed.
                                </p>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillJavaScript2">JavaScript <span class="badge">2</span></span>
                            <div id="skillJavaScript2" class="panel-body collapse skillDescription">
                                <p>
                                    I have been working with JavaScript for the last 2 years.  I do most of my
                                    work with JQuery.
                                </p>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillAngularJS2">AngularJS <span class="badge">1</span></span>
                            <div id="skillAngularJS2" class="panel-body collapse skillDescription">
                                <p>
                                    I was the lead developer on the Mobile App that we built for @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience").
                                    I worked closely with the developer that created the Angular code for the App.
                                </p>
                            </div>
                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillVBA2">VBA <span class="badge">7</span></span>
                            <div id="skillVBA2" class="panel-body collapse skillDescription">
                                <p>
                                    At @Html.ActionLink("Heritage Auction Galleries", "HeritageAuctionGalleries", "Experience"), I created several scripts to manipulate or create documents.
                                </p>
                                <p>
                                    At @Html.ActionLink("GSCS", "GSCS", "Experience"), I initially started to work on their Excel VBA program that imported excel
                                    data into a SAP system.  After explaining the flaws built into VBA, they decided to
                                    have me build them an ASP.NET web application that would import the Excel files into
                                    a normalized database.  Which I build for them.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--@*Principles*@-->
                <div class="col-md-12">
                    <h2>Principles</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillStrongtroubleshootingskills">Strong troubleshooting skills <span class="badge">20</span></span>
                            <div id="skillStrongtroubleshootingskills" class="panel-body collapse skillDescription">
                                <p>
                                    I am an expert at troubleshooting IT problems.
                                </p>
                                <p>
                                    I have been troubleshooting electronic or IT related issues since 1990.
                                    I can get to the core of a technical problem fast.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillFullStack2">Full Stack Developer <span class="badge">2</span></span>
                            <div id="skillFullStack2" class="panel-body collapse skillDescription">
                                I am a Full Stack Developer.<br />
                                @Html.ActionLink("What is a Full Stack Developer to me?", "FullStackDeveloper", "Experience")
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillOOP2">Object-Oriented Programming (OOP) <span class="badge">4</span></span>
                            <div id="skillOOP2" class="panel-body collapse skillDescription">
                                <p>
                                    4 Principles of Object Oriented Programming
                                </p>
                                <p>
                                    I have created several projects that implement these principles.
                                </p>

                                <ul>
                                    <li>Abstraction: Use Interfaces, not concrete classes.</li>
                                    <li>Encapsulation: Do not expose underlying code thru accessors and mutators.</li>
                                    <li>Inheritance: Base classes hold all the common properties and methods.</li>
                                    <li>Polymorphism: One name, many forms.  Overridding, Run-time.  Overloading, Compile-time.</li>
                                </ul>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillSOLID2">SOLID <span class="badge">2</span></span>
                            <div id="skillSOLID2" class="panel-body collapse skillDescription">
                                <p>
                                    Another set of principles that I have been studying closely and have come to adopt on any new
                                    projects that I work on.
                                </p>
                                <p>
                                    The 5 Principles of OOP Design
                                </p>
                                <ul>
                                    <li>Single Responsibility Principle</li>
                                    <li>Open / Closed Principle</li>
                                    <li>Liskov Substitution Principle</li>
                                    <li>Interface Segregation Principle</li>
                                    <li>Dependency Inversion Principle</li>
                                </ul>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillAgile2">Agile Methodologies <span class="badge">2</span></span>
                            <div id="skillAgile2" class="panel-body collapse skillDescription">
                                <p>
                                    I took the 5 day <a href="https://www.menloinnovations.com/by-visiting/intro-to-the-menlo-way" target="_blank">Menlo Way</a> course at Menlo Innovations in 2016.  This course included:
                                </p>
                                <ul>
                                    <li>INTRO TO THE MENLO WAY™</li>
                                    <li>PROJECT MANAGEMENT: THE MENLO WAY™</li>
                                    <li>HIGH-TECH ANTHROPOLOGY®</li>
                                    <li>HTA SKILLS: INTERVIEWING & OBSERVING</li>
                                    <li>DEEP DIVE INTO THE MENLO WAY™</li>
                                </ul>
                                <p>
                                    The biggest thing I learned at Menlo was that no one methodology is the best fit for any environment.
                                    They created an environment from several methodologies.  Including, Scrum, Story cards, estimating project time,
                                    building work authorization boards, the significance of observation, personas, and tracking project status.
                                </p>
                                <p>
                                    These 5 days changed how I view projects and scope profoundly.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--@*Frameworks*@-->
                <div class="col-md-12">
                    <h2>Frameworks</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillASPNET2">ASP.NET <span class="badge">2</span></span>
                            <div id="skillASPNET2" class="panel-body collapse skillDescription">
                                <p>
                                    My first ASP.NET application was written in 2007.  It was an image proofing system at @Html.ActionLink("Heritage Auction Galleries", "HeritageAuctionGalleries", "Experience").
                                </p>
                                <p>
                                    At @Html.ActionLink("GSCS", "GSCS", "Experience") I built them an ASP.NET Application that allowed them to import Excel files into a normalized
                                    database.
                                </p>
                                <p>
                                    At @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience"), their web
                                    application was created entirely in ASP.NET, with VB.NET backend.
                                </p>
                                <p>
                                    I have extensive knowledge of how ASP.NET works.
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillNET2">.Net v4.5.2 <span class="badge">4</span></span>
                            <div id="skillNET2" class="panel-body collapse skillDescription">
                                <p>
                                    Extensive knowledge of .NET environment.
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillEF2">Entity Framework v6.1.3 <span class="badge">2</span></span>
                            <div id="skillEF2" class="panel-body collapse skillDescription">
                                <p style="font-size:large">
                                    The EF project that I created at @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience")
                                    was a large undertaking.  This was a 'Data First' project.
                                </p>
                                <p>
                                    Some of the key features I built into the Rainmaker EF Project are:
                                </p>
                                <ul>
                                    <li>I created 100 views that were based off the 100 existing tables.</li>
                                    <li>I created 4 Stored procedures for each View.  An Insert, Update, Delete and Select.</li>
                                    <li>Each stored procedure automatically checked for any columns whose data was changed.  If it was changed, it was logged.</li>
                                    <li>I added all 100 views and 400 associated stored procedures to the EF Project.</li>
                                </ul>
                                <p>
                                    Once the EF Project was rolled out, we started to replace all the inline SQL and parameterized queries
                                    to EF.
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillIDS32">Identity Server 3 <span class="badge">2</span></span>
                            <div id="skillIDS32" class="panel-body collapse skillDescription">
                                <p>
                                    At @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience"), I built
                                    an Identity Server for use with the Mobile Application.  This was the key part of identifying calls to the
                                    API to make sure that only JWT Bearer tokens that we created were allowed access.
                                </p>
                            </div>

                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillLinqToSQL2">LINQ / LINQ to SQL <span class="badge">2</span></span>
                            <div id="skillLinqToSQL2" class="panel-body collapse skillDescription">
                                <h3>Language Integrated Query</h3>
                                <p>
                                    I have Extensive experience with LINQ and LINQ to SQL.
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillAPI2">API / SOAP / Web Services <span class="badge">2</span></span>
                            <div id="skillAPI2" class="panel-body collapse skillDescription">
                                <p>
                                    At @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience"), I built
                                    a Web Service / API for their Mobile App.
                                </p>
                                <p>
                                    Some of the key features I built into the API are:
                                </p>
                                <ul>
                                    <li>The Web Service used JWT bearer tokens to identify users.</li>
                                    <li>The Web Service had over 100 endpoints.</li>
                                    <li>The Web Service protocol was JSON.</li>
                                    <li>Each endpoint was documented in the company WIKI.</li>
                                    <li>Each endpoint has a Unit Test.</li>
                                </ul>

                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillJWT2">JWT <span class="badge">2</span></span>
                            <div id="skillJWT2" class="panel-body collapse skillDescription">
                                <p>
                                    (JSON Web Token).  I used this type of token to identify users thru the Identity Server.
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillMicrosoftMVC2">Microsoft MVC <span class="badge">1</span></span>
                            <div id="skillMicrosoftMVC2" class="panel-body collapse skillDescription">
                                <p>
                                    Most of my career has been working in either desktop applications or ASP.NET.
                                    This website is a Microsoft MVC application using C#.
                                    <a title="MVC Source code to this site." href="https://bitbucket.org/KevinAppDev/kevinappdevangular/src" target="_blank">You can view the source code here.</a>
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillAWS2">AWS (Amazon Web Services) <span class="badge">1</span></span>
                            <div id="skillAWS2" class="panel-body collapse skillDescription">
                                <p>
                                    On my own, I have built out a mySQL instance on Amazon Web Services.
                                </p>
                                <p>
                                    Some of the key features I learned are:
                                </p>
                                <ul>
                                    <li>I converted some Microsoft SQL Table Scripts to mySQL.</li>
                                    <li>How to create a mySQL instance on AWS.</li>
                                    <li>How to give permissions to the mySQL instance.</li>
                                    <li>How to Insert, Update, Delete and Select data from the mySQL Instance.</li>
                                    <li>How to add tables and data to the mySQL instance.</li>
                                    <li>I created an Entity Framework project pointing to the mySQL instance on AWS.</li>
                                </ul>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillGoogleFirebase2">Google Firebase <span class="badge">1</span></span>
                            <div id="skillGoogleFirebase2" class="panel-body collapse skillDescription">
                                <p>
                                    At @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience"), we used
                                    Google Firebase Services to send notifications to the mobile application on both
                                    Android and iOS.
                                </p>
                                <p>
                                    Firebase data service is a no SQL data system.  There are several types of NoSQL Databases:
                                    <ul>
                                        <li>Key / Value</li>
                                        <li>Wide Column</li>
                                        <li>Document</li>
                                        <li>Graph</li>
                                    </ul>
                                </p>
                                <p>
                                    Google Firebase is a Key / Value type.
                                </p>
                                <p>
                                    Others like MongoDB are a Document based NoSQL.
                                </p>
                                <p>
                                    Each of these types have strengths and weaknesses.
                                    Ask me what they are.
                                </p>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#myNoSQLModal">
                                        <img src="content/Images/NoSQLTypes_small.png" alt="Types of NoSQL Databases">
                                    </a>
                                </div>

                                <div class="modal fade" id="myNoSQLModal" tabindex="-1" role="dialog" aria-labelledby="myNoSQLModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">NoSQL Database Types</h4>
                                            </div>
                                            <div class="modal-body">
                                                <img src="content/Images/NoSQLTypes.jpg" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillSOAPvsREST2">SOAP vs REST <span class="badge">2 / 0</span></span>
                            <div id="skillSOAPvsREST2" class="panel-body collapse skillDescription">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            I added this article because it brings home a very good point.  There is no one solution that fits
                                            all situations.  You must understand what the underlying goal is before you can decide on a technology.
                                        </p>
                                        <p>
                                            These are the thought processes that I go thru before I take on a project.
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>SOAP</h2>
                                        <p>
                                            (Simple Object Access Protocol), was created in 1998 by Dave Winer et al in collaboration with Microsoft. Developed by a large software company, this protocol addresses the goal of addressing the needs of the enterprise market.
                                            <br />
                                            Makes data available as resources (nouns), for example “user” or “invoice”.
                                        </p>
                                        <h3>PROS</h3>
                                        <ul>
                                            <li>Follows a formal enterprise approach.</li>
                                            <li>Relatively easy to implement and maintain.</li>
                                            <li>Clearly separates client and server implementations.</li>
                                            <li>Communication isn’t controlled by a single entity.</li>
                                            <li>Information can be stored by the client to prevent multiple calls.</li>
                                            <li>Can return data in multiple formats (JSON, XML etc.).</li>
                                        </ul>
                                        <h3>CONS</h3>
                                        <ul>
                                            <li>Spends a lot of bandwidth communicating metadata.</li>
                                            <li>Hard to implement and is unpopular among Web and mobile developers.</li>
                                        </ul>
                                        <h3>WHEN TO USE</h3>
                                        <ul>
                                            <li>When clients need to have access to objects available on servers.</li>
                                            <li>When you want to enforce a formal contract between client and server.</li>
                                        </ul>
                                        <h3>WHEN NOT TO USE</h3>
                                        <ul>
                                            <li>When you want the majority of developers to easily use your API.</li>
                                            <li>When your bandwidth is very limited.</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>REST</h2>
                                        <p>
                                            (Representational State Transfer) was Created in 2000 by Roy Fielding in UC, Irvine. Developed in an academic environment, this protocol embraces the philosophy of the open Web.
                                            <br />
                                            Makes data available as services (verb + noun), for example “getUser” or “PayInvoice”.
                                        </p>
                                        <h3>PROS</h3>
                                        <ul>
                                            <li>Follows the philosophy of the Open Web.</li>
                                            <li>Relatively easy to implement and maintain.</li>
                                            <li>Clearly separates client and server implementations.</li>
                                            <li>Communication isn’t controlled by a single entity.</li>
                                            <li>Information can be stored by the client to prevent multiple calls.</li>
                                            <li>Can return data in multiple formats (JSON, XML etc.).</li>
                                        </ul>
                                        <h3>CONS</h3>
                                        <ul>
                                            <li>only works on top of the HTTP protocol.</li>
                                            <li>Hard to enforce authorization and security on top of it.</li>
                                        </ul>
                                        <h3>WHEN TO USE</h3>
                                        <ul>
                                            <li>When clients and servers operate on a Web environment.</li>
                                            <li>When information about objects doesn’t need to be communicated to the client.</li>
                                        </ul>
                                        <h3>WHEN NOT TO USE</h3>
                                        <ul>
                                            <li>When you need to enforce a strict contract between client and server.</li>
                                            <li>When performing transactions that involve multiple calls.</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h3>Conclusion</h3>
                                        The best way to choose between REST and SOAP is by comparing them on a use-case basis. By looking at both their strengths and weakness in certain environments, as well as understanding your own projects scope, you can make the most informed decision.
                                        <br /><br />
                                        Use REST if you’re focused on wide scale API adoption or if your API is targeted at mobile apps.
                                        <br /><br />
                                        Use SOAP if you are dealing with transactional operations and you already have an audience that is satisfied with this technology.
                                        <br /><br />
                                        <a href="http://nordicapis.com/rest-vs-soap-nordic-apis-infographic-comparison/" target="_blank">Source</a>
                                    </div>
                                </div>
                            </div>


                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillIonicFramework2">Ionic Framework <span class="badge">2</span></span>
                            <div id="skillIonicFramework2" class="panel-body collapse skillDescription">
                                <p>
                                    I was the lead developer on the Mobile App that we built for @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience").
                                    I worked closely with the developer that created the mobile app using the Ionic Framework.
                                </p>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillNewtonsoftJson2">Newtonsoft.Json <span class="badge">2</span></span>
                            <div id="skillNewtonsoftJson2" class="panel-body collapse skillDescription">
                                <p>
                                    Extensive knowledge of JSON manipulation.
                                </p>
                                <ul>
                                    <li>Serializing objects into JSON string.</li>
                                    <li>De serializing Strings back into objects.</li>
                                    <li>Custom population of object thru JSON Settings.</li>
                                </ul>
                            </div>
                            <span class="btn btn-success" data-toggle="collapse" data-target="#skillXML2">XML <span class="badge">2</span></span>
                            <div id="skillXML2" class="panel-body collapse skillDescription">
                                <p>
                                    Extensive knowledge of XML format.
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
                <!--@*Web Design*@-->
                <div class="col-md-12">
                    <h2>Web Design</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            @*Web Design*@
                            <span class="btn btn-info" data-toggle="collapse" data-target="#skilljQuery2">jQuery <span class="badge">2</span></span>
                            <div id="skilljQuery2" class="panel-body collapse skillDescription">
                                <p>
                                    I have been using JQuery for the last 2 years.
                                </p>
                            </div>
                            <span class="btn btn-info" data-toggle="collapse" data-target="#skillAJAX2">AJAX <span class="badge">2</span></span>
                            <div id="skillAJAX2" class="panel-body collapse skillDescription">
                                <p>
                                    I am well versed in AJAX.
                                </p>
                            </div>

                            <span class="btn btn-info" data-toggle="collapse" data-target="#skillBootstrap2">Bootstrap <span class="badge">2</span></span>
                            <div id="skillBootstrap2" class="panel-body collapse skillDescription">
                                <p>
                                    Look Around.  I used bootstrap here on this website.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--@*Tools*@-->
                <div class="col-md-12">
                    <h2>Tools</h2>
                    <ul class="list-group">
                        <li class="list-group-item">

                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillVS20152">Microsoft Visual Studio 2015 <span class="badge">4</span></span>
                            <div id="skillVS20152" class="panel-body collapse skillDescription">
                                <p>
                                    Version 14.0.2
                                </p>
                                <p>I have been using Visual Studio since 1996 when we were writing code in VB 4.0</p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillSMS2">Microsoft SQL Management Studio 2012 <span class="badge">4</span></span>
                            <div id="skillSMS2" class="panel-body collapse skillDescription">
                                <p>Version 11.0.2</p>
                                <p>I have been using Microsoft SQL Management Studio for many years.</p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillPostMan2">PostMan <span class="badge">2</span></span>
                            <div id="skillPostMan2" class="panel-body collapse skillDescription">
                                <p>PostMan is the key to testing any API endpoint.</p>
                                <p>
                                    While building out the API at @Html.ActionLink("Rainmaker Membership Systems", "RainmakerMembershipSystems", "Experience"),
                                    I used PostMan to:
                                </p>
                                <ul>
                                    <li>Call all 100+ endpoints for testing.</li>
                                    <li>Run tests on groups of endpoints.</li>
                                </ul>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillBeyondCompare2">Beyond Compare <span class="badge">2</span></span>
                            <div id="skillBeyondCompare2" class="panel-body collapse skillDescription">
                                <p>
                                    The best tool for comparing files and folders.  This integrates into SourceTree.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillWIKI2">Media Wiki <span class="badge">2</span></span>
                            <div id="skillWIKI2" class="panel-body collapse skillDescription">
                                <p>
                                    Wiki is one of the best ways to store and document code internally.  It allows for searching and easy
                                    updating.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillTrello2">Trello <span class="badge">2</span></span>
                            <div id="skillTrello2" class="panel-body collapse skillDescription">
                                <p>
                                    I have used Trello extensively.  One of the best tools for tracking an entire project or one issue.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillBitBucket2">Bitbucket <span class="badge">2</span></span>
                            <div id="skillBitBucket2" class="panel-body collapse skillDescription">
                                <p>
                                    I have been using BitBucket for a couple of years now.
                                </p>
                                <p>
                                    You can view my <a title="View my BitBucket Repo." href="https://bitbucket.org/KevinAppDev/" target="_blank">BitBucket</a> repo for this website
                                    <a href="https://bitbucket.org/KevinAppDev/kevinappdevangular/overview" target="_blank">here.</a>
                                </p>
                                <p>
                                    View my <a href="https://bitbucket.org/KevinAppDev/kevinappdevangular/pull-requests/" target="_blank">Pull Requests.</a>
                                </p>
                                <p>
                                    View my <a href="https://bitbucket.org/KevinAppDev/kevinappdevangular/src" target="_blank">Source Code.</a>
                                </p>
                                <p>
                                    View my <a href="https://bitbucket.org/KevinAppDev/kevinappdevangular/commits/all" target="_blank">Commits.</a>
                                </p>
                                <p>
                                    Show open <a href="https://bitbucket.org/KevinAppDev/kevinappdevangular/issues?status=new&status=open" target="_blank">Open Issues.</a>
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillSourceTree2">SourceTree 2012-2017 <span class="badge">2</span></span>
                            <div id="skillSourceTree2" class="panel-body collapse skillDescription">
                                <p>Version 1.9.10</p>
                                <p>
                                    Source tree one of the best GUI interfaces for GIT.  If you like, you can use DOS git and SourceTree at the same time.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillSVN2">SVN <span class="badge">2</span></span>
                            <div id="skillSVN2" class="panel-body collapse skillDescription">
                                <p>
                                    I have used SVN in the past to store static content that rarely changed.
                                    This kept those files out of the BitBucket REPO, which kept
                                    the REPO size down.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillGhostInspector2">Ghost Inspector <span class="badge">2</span></span>
                            <div id="skillGhostInspector2" class="panel-body collapse skillDescription">
                                <p>
                                    Online web tool for remote testing of a web site or API endpoints.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillgit2">git <span class="badge">2</span></span>
                            <div id="skillgit2" class="panel-body collapse skillDescription">
                                <p>
                                    I use SourceTree mostly, but I fully know:
                                </p>
                                <ul>
                                    <li>The difference between a Pull and a Fetch.</li>
                                    <li>The difference between a Branch and a Fork.</li>
                                    <li>get Fetch.</li>
                                    <li>git Pull.</li>
                                    <li>git Push.</li>
                                    <li>git Checkout.</li>
                                    <li>git Merge.</li>
                                    <li>git Commit.</li>
                                    <li>git Status.</li>

                                </ul>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#mygitModal">
                                        <img src="content/Images/git-Cheat-Sheet_Wall-Skills1_small.png" alt="git Cheat Sheet" />
                                    </a>
                                </div>

                                <div class="modal fade" id="mygitModal" tabindex="-1" role="dialog" aria-labelledby="mygitModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">NoSQL Database Types</h4>
                                            </div>
                                            <div class="modal-body">
                                                <img width="800" src="content/Images/git-Cheat-Sheet_Wall-Skills1.png" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillActiveReports">Active Reports <span class="badge">2</span></span>
                            <div id="skillActiveReports" class="panel-body collapse skillDescription">
                                <p>
                                    .NET control used to create reports.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillTwain">Twain <span class="badge">2</span></span>
                            <div id="skillTwain" class="panel-body collapse skillDescription">
                                <p>
                                    I know how to programmatically acquire images from any TWAIN compliant device.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillPhotoshop">Photo Shop CC 2015 <span class="badge">12</span></span>
                            <div id="skillPhotoshop" class="panel-body collapse skillDescription">
                                <p>
                                    I am an expert at Photoshop automation.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillEasymail">Easy Mail <span class="badge">12</span></span>
                            <div id="skillEasymail" class="panel-body collapse skillDescription">
                                <p>
                                    .Net component used to send SMTP email.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillLeadTools">Lead Tools Raster Imaging <span class="badge">12</span></span>
                            <div id="skillLeadTools" class="panel-body collapse skillDescription">
                                <p>
                                    .Net component used to create and manipulate images.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillPowershell">Powershell <span class="badge">2</span></span>
                            <div id="skillPowershell" class="panel-body collapse skillDescription">
                                <p>
                                    I use PowerShell for batch processing.
                                </p>
                            </div>
                            <span class="btn btn-danger" data-toggle="collapse" data-target="#skillMicrosoftOffice">Microsoft Office Automation <span class="badge">2</span></span>
                            <div id="skillMicrosoftOffice" class="panel-body collapse skillDescription">
                                <p>
                                    I am an expert at Microsoft Office Automation thru VBA.
                                </p>
                                <ul>
                                    <li>Word</li>
                                    <li>Excel</li>
                                    <li>Exchange</li>
                                    <li>PowerPoint</li>
                                    <li>Visio</li>
                                    <li>Project</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--@*File Formats / Protocols*@-->
                <div class="col-md-12">
                    <h2>File Formats / Protocols</h2>
                    <ul class="list-group">
                        <li class="list-group-item">

                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillTCPIP">Network Protocols <span class="badge">12</span></span>
                            <div id="skillTCPIP" class="panel-body collapse skillDescription">
                                <p>
                                    I know and understand the core protocols of the internet, which include:
                                </p>
                                <dl class="dl-horizontal">
                                    <dt>TCP/IP</dt>
                                    <dd>Transmission Control Protocol / Internet Protocol</dd>
                                    <dt>SMTP</dt>
                                    <dd>Simple Mail Transport Protocol</dd>
                                    <dt>DNS</dt>
                                    <dd>Domain Name Services</dd>
                                    <dt>DHCP</dt>
                                    <dd>Dynamic Host Configuration Protocol</dd>
                                    <dt>NAT</dt>
                                    <dd>Network Address Translation</dd>
                                    <dt>VPN</dt>
                                    <dd>Virtual Private Networks</dd>
                                    <dt>AppleTalks</dt>
                                    <dd>Apples protocol for communicating over a network.</dd>
                                    <dt>IPX</dt>
                                    <dd>Network layer used by Novell.  A little to much back and forth overhead for me.</dd>
                                </dl>
                            </div>

                            <span class="btn btn-primary" data-toggle="collapse" data-target="#skillImageFormats">Image Formats <span class="badge">13</span></span>
                            <div id="skillImageFormats" class="panel-body collapse skillDescription">
                                <p>
                                    I am an expert in image formats. At Heritage, I built an automated imaging system that processed images from TWAIN devices or a Hot Folder, to the
                                    web.
                                </p>
                                <dl class="dl-horizontal">
                                    <dt>Jpeg</dt>
                                    <dd>Lossy compression.</dd>
                                    <dt>TIFF</dt>
                                    <dd>Tagged Image File Format: Lossless compression.</dd>
                                    <dt>LZW</dt>
                                    <dd>One of the compression schemas used by the TIFF image format.</dd>
                                    <dt>GIF</dt>
                                    <dd>
                                        Up to 256 color, non-compressed images.  An Animated GIF can old several BMP images that are
                                        displayed one after the other.
                                    </dd>
                                    <dt>BMP</dt>
                                    <dd>Up to 256 colors, non-compressed.</dd>
                                    <dt>CMYK</dt>
                                    <dd>Color space for most printers.</dd>
                                    <dt>RGB</dt>
                                    <dd>Color space for monitors and your eyes.</dd>
                                    <dt>PS</dt>
                                    <dd>Post Script</dd>
                                    <dt>EPS</dt>
                                    <dd>Encapsulated Post Script</dd>

                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--@*Classes Taken*@-->
                <div class="col-md-12">
                    <h2>Classes Taken</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillCSharpFromScratch">PluralSight.com. C# 6 from Scratch. <span class="badge">March 2017</span></span>
                            <div id="skillCSharpFromScratch" class="panel-body collapse skillDescription">
                                <p>
                                    C# 6 from Scratch by Jesse Liberty:  This was a refresher video course that I took to get my C# legs
                                    on since most of my experience has been in VB.NET.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillMenlo">The Menlo Way <span class="badge">June 2016</span></span>
                            <div id="skillMenlo" class="panel-body collapse skillDescription">
                                <p>
                                    <a href="https://www.menloinnovations.com/by-visiting/intro-to-the-menlo-way" target="_blank">Completed the Menlo 5-day course</a>.
                                </p>
                                <p>
                                    The Menlo 5-day course is a 'Hands On' course.  After each section, we went into the real world and practiced them.
                                    Ask me how.<br />
                                    Below are some of the main take aways from this course.
                                </p>
                                <dl class="dl-horizontal">
                                    <dt>Story Cards</dt>
                                    <dd>
                                        I learned in detail the importance of Story Cards and how they are best used.
                                        each story card should have the minimum amount of work that can be accomplished
                                        and can be pushed out into production on its own.  If a story card lasts more than
                                        a day, it needs to be broken out.  Ask me why.
                                    </dd>
                                    <dt>Sprints</dt>
                                    <dd>Sprints can be of any length depending on the need.  Start with 5-day sprint and adjust as needed.</dd>
                                    <dt>Project Management</dt>
                                    <dd>Menlo has their own adaptation of Project Management.</dd>
                                    <dt>Observing</dt>
                                    <dd>
                                        It is very important to observe the end user in THEIR environment.  Ask questions that do not influence
                                        their answer.  Ask me why.
                                    </dd>
                                    <dt>Estimations</dt>
                                    <dd>
                                        Estimations by nature are always wrong.  It is very important that the developer that is estimating
                                        sees the actual time it took to do the task.  This makes their future estimates 'predictable'.
                                    </dd>
                                    <dt>Show and Tell</dt>
                                    <dd>
                                        Show and Tell with the owner of the project is very important.  It should happen at the end of
                                        each sprint.  Ask me why.
                                    </dd>
                                    <dt>Pairing</dt>
                                    <dd>
                                        The pairing of developers is a very powerful tool.  Some of the benefits are:
                                        <ul>
                                            <li>Eliminates the Tower of Knowledge developer</li>
                                            <li>At any one time, multiple developers know any one project.</li>
                                        </ul>
                                    </dd>
                                    <dt>Daily Stand-Up</dt>
                                    <dd>
                                        Output Only.  The daily stand up is for the entire office.  You stand in a circle and go around
                                        and tell the group what you are working on.  10 - 20 seconds.  State if you need to see someone
                                        after the stand up.
                                    </dd>
                                    <dt>Make Mistakes Faster</dt>
                                    <dd>
                                        This simply means.  The sooner you make and identify a mistake, the less it costs to fix it.
                                        Having all the pieces listed above in place ensures that mistakes are identified earlier rather
                                        than later.
                                    </dd>
                                    <dt>Quality Advocates</dt>
                                    <dd>QA's are there to make sure that the project owner gets a quality product and works as requested.</dd>
                                    <dt></dt>
                                </dl>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillFredPryor">Fred Pryor Seminar: Microsoft Project. <span class="badge">February 2008</span></span>
                            <div id="skillFredPryor" class="panel-body collapse skillDescription">
                                <p>
                                    At Heritage Auctions Galleries, I worked closely with the Project Management team.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillMS2373">MS 2373 – Programming with Microsoft Visual Basic.NET. <span class="badge">June 2005</span></span>
                            <div id="skillMS2373" class="panel-body collapse skillDescription">
                                <p>
                                    At Heritage Auctions Galleries, when we decided to convert from VB6.0 to .NET I took a 5-day course on .NET.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillXeroxeXcelerate">Xerox eXelerate Operator Training.  IGEN high volume printer series. <span class="badge">July 2003</span></span>
                            <div id="skillXeroxeXcelerate" class="panel-body collapse skillDescription">
                                <p>
                                    At Heritage Auction Galleries, I oversaw maintaining and operating the Xerox high volume printer.
                                    I took a course on the operation of the large Xerox printer.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillXeroxDocuTech">Xerox DocuTech Operator Training. <span class="badge">August 1997</span></span>
                            <div id="skillXeroxDocuTech" class="panel-body collapse skillDescription">
                                <p>
                                    At Heritage Auction Galleries, I oversaw maintaining and operating the Xerox high volume printer.
                                    I took a course on the operation of the large Xerox DocuTech printer.
                                    This was our first printer that we could send jobs to.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillRicoh">Ricoh VT3600, VT1730 Service and Maintenance Technician Training. <span class="badge">August 1995</span></span>
                            <div id="skillRicoh" class="panel-body collapse skillDescription">
                                <p>
                                    At Tarrant Business Systems, I was the lead technician on the high volume and duplicator printers.
                                    This was a technical course on maintaining and repairing the Ricoh VT3600.  This was not a copier but a duplicator.  It replaced the old
                                    mimeograph machines. You sent your file over and it created a template that was used to create the copies.  This system used ink and not toner.
                                </p>
                            </div>
                            <span class="btn btn-warning" data-toggle="collapse" data-target="#skillCopyStar">Copystar 2256/2260/2270 Service and Maintenance Technical Training. <span class="badge">August 1994</span></span>
                            <div id="skillCopyStar" class="panel-body collapse skillDescription">
                                <p>
                                    This class was my first technical copy machine class and was on the smaller copy machines.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="panel-footer">Built with Bootstrap v3.0.0.</div>
    </div>
</div>