﻿    <div>
        <h3>Major Accomplishments:</h3>
        <h4 class="list-group-item-heading">This was a contract position with the following requirements:</h4>
        <blockquote>
            <ul>
                <li>Create a web application with ASP.NET to import 1400 excel files in 100 formats into a common SQL database.</li>
                <li>Automatically normalize all data from Excel files into Sql.</li>
                <li>Allow the user to export the new data into Excel to be uploaded into their current SAP system.</li>
            </ul>
            <p>Tools / Technologies used:</p>
            <ul>
                <li>Visual Studio</li>
                <li>.Net v3.5</li>
                <li>VB.Net</li>
                <li>ASP.Net</li>
                <li>Microsoft SQL Management Studio</li>
                <li>Source Safe</li>
            </ul>
        </blockquote>
    </div>
