﻿    <div>
        <h3>Major Accomplishments:</h3>
        <h4 class="list-group-item-heading">2004 to 2009 – Application Developer:</h4>
        <blockquote>
            <ul>
                <li>
                    Created and Implemented a custom image processing system that:
                    <ul>
                        <li>Accepted images from multiple sources including TWAIN scanners, TWAIN Cameras and hot folders.</li>
                        <li>Created thumbnails and archived each image.</li>
                        <li>Added image to database to be displayed on the web.</li>
                        <li>Create web application for proofing images.</li>
                    </ul>
                </li>
                <li>
                    7 years combined experience in:
                    <ul>
                        <li>VB.NET</li>
                        <li>ASP.NET</li>
                        <li>SQL Database / Tables / Views / Stored Procedures.</li>
                        <li>VB 6.0</li>
                        <li>Strong object-oriented programming skills in VB.NET.</li>
                    </ul>
                </li>
            </ul>

        </blockquote>

        <h4 class="list-group-item-heading">Jan. 1996 to 2004 – Help Desk – Systems Analyst:</h4>
        <blockquote>
            <ul>
                <li>Involved in all aspects of IT help desk operations.</li>
                <li>Collect data from users and troubleshoot a wide variety of issues. Issues involved Network, Internal Applications, Hardware, Software and User Training.</li>
                <li>Troubleshoot all PC and Laptop hardware and operating system issues.</li>
                <li>Extensive knowledge of all Windows operating systems from 3.0 to 10.</li>
            </ul>
        </blockquote>
    </div>
