﻿<div class="" id="dropdownRMS">
    <h3>Major Accomplishments:</h3>
    <h4 class="">Build new Mobile App from scratch that runs on Android and IOS:</h4>
    <blockquote>
        <ul>
            <li>Created, implemented and documented Identity Server 3 using bearer tokens.</li>
            <li>Created, implemented and documented Web API, verifying identity token against Identity Server 3.</li>
            <li>Created, implemented and documented business layer. Connecting the web API with the data layer building in all the business rules for retrieving data. Including endpoint permissions.</li>
            <li>Created, implemented and documented a data layer using Entity Framework. Connecting the business layer to the sql database.</li>
            <li>Led the team in building a mobile app using the above listed technologies.</li>
            <li>Mobile app was written using AngularJS under the hood and used IONIC framework for accessing mobile core functions.</li>
            <li>V1.0 of the mobile app rolled out on January 1 of 2017 on schedule.</li>
        </ul>
        <p>Tools / Technologies used:</p>
        <ul>
            <li>Visual Studio 2015</li>
            <li>Entity Framework</li>
            <li>.Net v4.5.2</li>
            <li>Identity Server 3</li>
            <li>.Net Web Services / API</li>
            <li>Newtonsoft.Json</li>
            <li>Microsoft.Owin</li>
            <li>Microsoft SQL Management Studio v11.0</li>

            <li>Git / Bit Bucket / Source Tree / Beyond Compare / Post Man.</li>
        </ul>
        <p class="list-group-item-text">  </p>
        <h5 class="list-group-item-text"></h5>
        <p class="list-group-item-text">  </p>
        <p class="list-group-item-text">  </p>
    </blockquote>
    <p>
        <h4 class="list-group-item-heading">Build and maintain current membership software:</h4>
    </p>
    <blockquote>
        <ul>
            <li>
                Maintain current website built on ASP.NET and VB.NET technology.
                <ul>
                    <li>Website contains 400 + aspx, ashx and html files</li>
                </ul>
            </li>
            <li>Add proper Error Logging.</li>
            <li>
                Remove inherent VB.NET flaws.
                <ul>
                    <li>Add Option Strict On, Option Explicit On.</li>
                    <li>Add Validation to all input fields.</li>
                </ul>
            </li>
            <li>Convert inline SQL to parameterized queries and/or entity framework.</li>
            <li>Created all Views and Stored procedures, based on existing tables, needed to build Entity Framework data layer. Data first.</li>
            <li>Added change logging to all insert, update and delete stored procedures.</li>
        </ul>
    </blockquote>

</div>