﻿<div class="" id="dropdownTBS">
    <h3>Major Accomplishments:</h3>
    <blockquote>
        <ul>
            <li>Repair and maintain all copier makes and models.</li>
            <li>Heavy electronic and mechanical process knowledge.</li>
            <li>Extensive customer support, face to face.</li>
        </ul>
    </blockquote>
</div>