﻿<div>
    <div class="" id="dropdownExperience">
        <div class="well well-sm alert">
            <h1>Application Developer</h1>
            <p class="lead">
                Experienced, <a ui-sref="app.FullStack" ui-sref-active="active">Full Stack</a>
                .NET backend to front application developer.
            </p>
            <!--<p>
                I am currently open to discuss employment opportunities.
                If you are a recruiter or hiring manager, <a ui-sref="app.About" ui-sref-active="active">Lets Talk</a>
            </p>-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Summary</h2>
            </div>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            Experienced backend, from the ground up, developer.
                            SQL Database, Data Layer, Business layer, API, Identity Server, forward facing Client side.
                        </p>
                        <p><a title="Download my resume in Word format." href="http://kevinappdev.com/content/documents/Kevin Cornelison-V11.pdf" target="_blank">Resume</a></p>
                    </li>
                </ul>
            </div>

            <div class="col-md-12">
                <h2>Employment</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="a-ExtraLarge">
                            <a ui-sref="app.Experience.RainmakerMembershipSystems" ui-sref-active="active" title="View details about my work experience at Rainmaker Membership Systems.">Rainmaker Membership Systems</a>
                        </div>
                        <a href="https://addmembers.com/" target="_blank">addmembers.com</a>
                        <address>Mansfield TX</address>
                        <div class="row">
                            <div class="col-md-6">
                                <blockquote>
                                    <p>Lead Web Application Developer.</p>
                                    <small>Role Title</small>
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <blockquote class="blockquote-reverse">
                                    <p>Jul 2015 – Feb 2017 Mansfield, Texas</p>
                                    <small>1 Year 8 Months</small>
                                </blockquote>
                            </div>
                        </div>
                        <div ui-view="viewRainmakerMembershipSystems"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="a-ExtraLarge">
                            <a ui-sref="app.Experience.GSCS" ui-sref-active="active" title="View details about my work experience at Global Supply Chain Systems.">Global Supply Chain Systems</a>
                        </div>
                        <a href="http://systainet.gscsinc.com/" target="_blank">GSCSInc.com</a>
                        <address>
                            11494 Luna Road, Suite 100
                            Dallas, TX 75234-9429
                            Phone: (972) 401-GSCS [4727]
                            Fax: (972) 444-0699
                        </address>
                        <div class="row">
                            <div class="col-md-6">
                                <blockquote>
                                    <p>Web Application Developer</p>
                                    <small>Role Title</small>
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <blockquote class="blockquote-reverse">
                                    <p>Feb 2009 – Sep 2009 Dallas, Texas</p>
                                    <small>8 Months</small>
                                </blockquote>
                            </div>
                        </div>
                        <div ui-view="viewGSCS"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="a-ExtraLarge">
                            <a ui-sref="app.Experience.HeritageAuctionGalleries" ui-sref-active="active" title="View details about my work experience at Heritage Auction Galleries.">Heritage Auction Galleries</a>
                        </div>
                        <a href="https://ha.com" target="_blank">ha.com</a>
                        <address>
                            3500 Maple Avenue, 17th Floor
                            Dallas, Texas 75219
                            Local Phone: 214-528-3500
                            Fax: 214-409-1425
                        </address>
                        <div class="row">
                            <div class="col-md-6">
                                <blockquote>
                                    <p>Application Developer / Network Admin / Help Desk.</p>
                                    <small>Role Title</small>
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <blockquote class="blockquote-reverse">
                                    <p>Jan 1996 – Jan 2009 Dallas, Texas</p>
                                    <small>13 Years 1 Month</small>
                                </blockquote>
                            </div>
                        </div>
                        <div ui-view="viewHeritageAuctionGalleries"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="a-ExtraLarge">
                            <a ui-sref="app.Experience.TarrantBusinessSystems" ui-sref-active="active" title="View details about my work experience at Tarrant Business Systems.">Tarrant Business Systems</a>
                        </div>
                        <address>Fort Worth, TX</address>
                        <div class="row">
                            <div class="col-md-6">
                                <blockquote>
                                    <p>Copier and Electronic technician.</p>
                                    <small>Role Title</small>
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <blockquote class="blockquote-reverse">
                                    <p>Jan. 1990 to Jan. 1996 Fort Worth, Texas</p>
                                    <small>6 Years</small>
                                </blockquote>
                            </div>
                        </div>
                        <div ui-view="viewTarrantBusinessSystems"></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h2>Featured Skills</h2>
                <ul class="list-group">
                    <li class="list-group-item" title="View details of my skillset.">
                        <a ui-sref="app.FeaturedSkills" >Featured Skills</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-12">
                <h2>Classes Taken</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div id="skillMenlo" class="">
                            <h3>
                                June 2016, <a href="https://www.menloinnovations.com/by-visiting/intro-to-the-menlo-way" target="_blank">Completed the Menlo 5-day course</a>.
                            </h3>
                            <p>
                                The Menlo 5-day course is a 'Hands On' course.  After each section, we went into the real world and practiced them.
                                Ask me how.<br />
                                Below are some of the main take aways from this course.
                            </p>
                            <dl class="dl-horizontal">
                                <dt>Story Cards</dt>
                                <dd>
                                    I learned in detail the importance of Story Cards and how they are best used.
                                    each story card should have the minimum amount of work that can be accomplished
                                    and can be pushed out into production on its own.  If a story card lasts more than
                                    a day, it needs to be broken out.  Ask me why.
                                </dd>
                                <dt>Scrum</dt>
                                <dd>Scrums can be of any length depending on the need.  Start with 5-day scrum and adjust as needed.</dd>
                                <dt>Project Management</dt>
                                <dd>Menlo has their own adaptation of Project Management.</dd>
                                <dt>Observing</dt>
                                <dd>
                                    It is very important to observe the end user in THEIR environment.  Ask questions that do not influence
                                    their answer.  Ask me why.
                                </dd>
                                <dt>Estimations</dt>
                                <dd>
                                    Estimations by nature are always wrong.  It is very important that the developer that is estimating
                                    sees the actual time it took to do the task.  This makes their future estimates 'predictable'.
                                </dd>
                                <dt>Show and Tell</dt>
                                <dd>
                                    Show and Tell with the owner of the project is very important.  It should happen at the end of
                                    each scrum.  Ask me why.
                                </dd>
                                <dt>Pairing</dt>
                                <dd>
                                    The pairing of developers is a very powerful tool.  Some of the benefits are:
                                    <ul>
                                        <li>Eliminates the Tower of Knowledge developer</li>
                                        <li>At any one time, multiple developers know any one project.</li>
                                    </ul>
                                </dd>
                                <dt>Daily Stand-Up</dt>
                                <dd>
                                    Output Only.  The daily stand up is for the entire office.  You stand in a circle and go around
                                    and tell the group what you are working on.  10 - 20 seconds.  State if you need to see someone
                                    after the stand up.
                                </dd>
                                <dt>Make Mistakes Faster</dt>
                                <dd>
                                    This simply means.  The sooner you make and identify a mistake, the less it costs to fix it.
                                    Having all the pieces listed above in place ensures that mistakes are identified earlier rather
                                    than later.
                                </dd>
                                <dt>Quality Advocates</dt>
                                <dd>QA's are there to make sure that the project owner gets a quality product and works as requested.</dd>
                                <dt></dt>
                            </dl>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3>MS 2373 – Programming with Microsoft Visual Basic.NET.  June 2005</h3>
                        <p>
                            At Heritage Auctions Galleries, when we decided to convert from VB6.0 to .NET I took a 5-day course on .NET.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h3>Xerox eXelerate Operator Training.  IGEN high volume printer series.  July 2003. </h3>
                        <p>
                            At Heritage Auction Galleries, I oversaw maintaining and operating the Xerox high volume printer.
                            I took a course on the operation of the large Xerox printer.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h3>Xerox DocuTech Operator Training.  August 1997.</h3>
                        <p>
                            At Heritage Auction Galleries, I oversaw maintaining and operating the Xerox high volume printer.
                            I took a course on the operation of the large Xerox DocuTech printer.
                            This was our first printer that we could send jobs to.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h3>Ricoh VT3600, VT1730 Service and Maintenance Technician Training.  August 1995. </h3>
                        <p>
                            At Tarrant Business Systems, I was the lead technician on the high volume and duplicator printers.
                            This was a technical course on maintaining and repairing the Ricoh VT3600.  This was not a copier but a duplicator.  It replaced the old
                            mimeograph machines. You sent your file over and it created a template that was used to create the copies.  This system used ink and not toner.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h3>Copystar 2256/2260/2270 Service and Maintenance Technical Training.  August 1994. </h3>
                        <p>
                            This class was my first technical copy machine class and was on the smaller copy machines.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h2>Awards</h2>
            </div>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">2001 Employee of the Year at @Html.ActionLink("Heritage Auction Galleries", "HeritageAuctionGalleries", "Experience").</li>
                    <li class="list-group-item">In the past I have been awarded the Employee of the month twice at @Html.ActionLink("Heritage Auction Galleries", "HeritageAuctionGalleries", "Experience").</li>
                </ul>
            </div>
            <div class="col-md-12">
                <h2>References</h2>
            </div>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">Available upon request.</li>
                </ul>
            </div>

        </div>

    </div>
</div>